---
interface Props {
    href: string;
    color: string;
}

const { href, color } = Astro.props;
---

<a
    class={`rounded-full flex justify-center items-center gap-x-2 py-2 px-4 text-secondary/80
      backdrop-blur-sm hover:scale-105 transition-all duration-300 hover:text-secondary shadow-md
      bg-gradient-to-r from-${color}-950/20 to-${color}-800/20 border border-${color}-950
      shadow-${color}-950/20 hover:border-${color}-950/90`}
    href={href}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
